.nav .menu .menu-line {
  box-sizing: content-box;
  transition: top 0.5s cubic-bezier(1, 0.01, 0.24, 0.81) 0.1s, transform 0.5s cubic-bezier(1, 0.01, 0.24, 0.81) 0.1s, width 0.2s, height 0.2s;
}
.nav .menu:hover span, .nav .menu.open span {
  color: #000;
}
.nav .menu:hover .menu-line, .nav .menu.open .menu-line {
  transform: translateY(-0.05rem);
  width: 100%;
  height: 125%;
  transition: top 0.2s, transform 0.2s, width 0.5s cubic-bezier(1, 0.01, 0.24, 0.81) 0.1s;
}