@font-face {
  font-family: Sansation;
  src: url("./font/sansation/Sansation_Bold.ttf"), url("./font/sansation/Sansation_Bold_Italic.ttf"), url("./font/sansation/Sansation_Regular.ttf"),
    url("./font/sansation/Sansation_Light.ttf");
}

@import "./css/nav";
@import "./css/index";
@import "./css/contact";

html,
body {
  font-family: Sansation, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

html {
  font-size: max(0.9vw, 14px);
  overscroll-behavior-y: none;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}
.chakra-ui-light {
  background-color: #000 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Sansation;
}
